<!DOCTYPE html>
<html>
	<head>
		<title>Byte 1 Tutorial</title>

		<!-- Semantic Framework -->
		<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	</head>
	<body>
		<div class="ui menu inverted">
			<div class="ui container">
				<h4 class="header item"><a href="#">The Data Pipeline</a></h4>	
			</div>
		</div>
		<div class="ui raised very padded text container segment">
			

			<h2 class="header">Which are the major conflict zones in the world right now?</h2>
			<p>Every this past year, terrible news plagued the headlines of our newspapers. With the crisis in Iraq &amp; Syria, Ukraine, Central Africa :- I wanted to visualize the stability of the world right now.</p>
			
			<p>Apart from instability, conflict displaces people from their homes stripping them away from all the wealth and property they and their ancestors built for them. These people inturn become refugees seeking stability elsewhere in the world. I thought a good way to answer the question would be to <strong>map out the origins of refugees worldwide.</strong></p>

			<div class="ui message">
			  <div class="header">
			    According to Wikipedia:-
			  </div>
			  <p>A refugee, according to the Geneva Convention on Refugees, is a person who is outside their country of citizenship because they have well-founded grounds for fear of persecution because of their race, religion, nationality, membership of a particular social group or political opinion, and is unable to obtain sanctuary from their home country or, owing to such fear, is unwilling to avail themselves of the protection of that country.</p>
			</div>

			<p>This would be a strong indicator as to how stable countries actually are. On the contrary, refugees only indicate major conflict zones and not minor skirmishes. The visualization is below:</p>

			<h2 class="ui icon header">Visualization</h2>
			<iframe width="100%" height="250px" scrolling="yes" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col0+from+1Ohk5XVdXtFFD1NeaJGljO_FClO-b0_WQv5q5__Ov&amp;viz=MAP&amp;h=false&amp;lat=21.299875116951615&amp;lng=37.62383730000008&amp;t=1&amp;z=2&amp;l=col0&amp;y=7&amp;tmplt=9&amp;hml=ONE_COL_LAT_LNG"></iframe>

			<h2 class="ui icon header">Legend</h2>
			<table class="ui celled table">
			  <thead>
			    <tr>
			      <th>Key</th>
			      <th>Refugees</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Green Dot</td>
			      <td>1 - 10,000</td>
			    </tr>
			    <tr>
			      <td>Yellow Dot</td>
			      <td>10,000 - 100,000</td>
			    </tr>
			    <tr>
			      <td>Red Dot</td>
			      <td>100,000 - 4,180,921</td>
			    </tr>
			  </tbody>
			</table>

			<h2 class="ui icon header">Inferences</h2>
			<p>As seen from the map, the number of refugees strongly map onto the stability of countries they're in - from the world known conflicts in the Middle East and Central Africa to the obscure Eritrean Refugee Crisis that rarely makes the news...</p>

			<h2 class="ui icon header">Links</h2>
			<div class="ui bulleted list">
			  <div class="item"><a target="_blank" href="http://www.unhcr.org/pages/49c3646c4d6.html">UNHCR Data</a>
			  [Download mid-year trends worksheet]
			  </div>
			  <div class="item"><a target="_blank" href="https://www.google.com/fusiontables/DataSource?docid=1Ohk5XVdXtFFD1NeaJGljO_FClO-b0_WQv5q5__Ov">My Fusion Table</a></div>
			</div>

			<h2 class="ui icon header">Note</h2>
			<p>The Data is from mid 2015</p>
		</div>
		<!-- Semantic Framework scripts -->
		<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	</body>
</html>